<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/foreSystem/clear.css"/>
	<style>
		ul{
			margin-left:650px;
			margin-top:300px;
		}
		ul li{
			float: left;
			list-style: none;
		}
		a{
			margin-left:690px;
			text-decoration: none;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<ul class="clearfix">
		<li><img src="images/foreImg/success.jpg" style="width:80px;height:80px;"/></li>
		<li style="margin-top:40px;font-size: 20px;">支付成功</li>
	</ul>
	<a href="index">跳转首页</a><span style="margin-left:10px;">3秒后将自动跳转</span>
</body>
</html>