<!---->
<!--登记信息标题-->
<table class="bookInfoTable">
	<tr class="thead1">
		<td colspan="3">登记信息</td>
	</tr>
	<tr class="tbody1">
		<td>
			<span>入住时间：</span><br/>
			<input type="" name="ckTime" id="checkTime" value="" style="width:130px;"/>
		</td>
		<td style="padding-left: 30px;">
			<span>天数：</span><br/>
			<input tyle="" name="days" id="days" style="width:40px;"/>
		</td>
		<td style="padding-left: 30px;">
			<span>房客类型：</span><br/>
			<select name="">
				<option value="">散客</option>
				<option value="">普通房客</option>
			</select>
		</td>
	</tr>
	<tr class="tbody1">
		<td>
			<span>离店时间：</span><br/>
			<input type="" name="checkTime" id="leaveTime" value="" style="width:130px"/>
		</td>
		<td style="padding-left:30px ;">
			<span>人数：</span><br/>
			<input tyle="" name="pnum" id="pnum" style="width:40px;"/>
		</td>
		<td style="padding-left:30px ;">
			<span>押金：</span><br/>
			<input tyle="" name="forgift" id="forgift" value="30" style="width:60px;"/><span style="font-size: 15px;">￥</span>
		</td>
	</tr>
	<tr class="tbody1">
		<td colspan="3">
			<span>预定时间：</span><br/>
			<input type="" name="checkTime" id="bookTime" value="" style="width:205px"/>
		</td>
	</tr>
</table>
<!--登记信息标题-->
<table class="bookInfoTable">
	<tr class="thead1">
		<td colspan="3">客人资料</td>
	</tr>
	<tr class="tbody1">
		<td>
			姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:<br/>
			<input type="text" name="customName" id="customName" value="" style="width:130px;"/>
		</td>
		<td style="padding-left: 30px;">
			性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:<br/>
			<select name="sex" id="sex" style="width:48px;">
				<option value="1">男</option>
				<option value="2">女</option>
			</select>
		</td>
		<td style="padding-left: 30px;">
			<span>联系电话：</span><br/>
			<input type="text" name="customName" id="customName" value="" style="width:100px;"/>
		</td>
	</tr>
</table>
<!--登记信息标题-->
<table class="bookInfoTable">
	<tr class="thead1">
		<td colspan="3">客房信息</td>
	</tr>
	<tr class="tbody1">
		<td>
			房间编号:<br/>
			<input type="text" name="customName" id="customName" value="" style="width:130px;"/>
		</td>
		<td style="padding-left: 30px;">
			房间类型：<br/>
			<select name="sex" id="sex" style="width:98px;">
				<option value="101">标准双人房A</option>
				<option value="102">单人间</option>
				<option value="103">豪华间</option>
				<option value="102">商务间</option>
			</select>
		</td>
		<td style="padding-left: 30px;">
			<span>房间单价：</span><br/>
			<input type="text" name="customName" id="customName" value="" style="width:40px;"/><span style="font-size:15px ;">￥</span>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			备注：<br/>
			<input type="text" name="" id="" value="" style="width:260px;"/>
		</td>
	</tr>
</table>
<div class="reserBtn">
	预订
</div>