<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的点评</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/foreSystem/evaluate.css"/>
		<script src="javascripts/jquery/jquery-1.8.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/jquery/ejs.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/foreJs/sysJs.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="headBox">
			<img src="images/foreImg/evalute_headIcon.PNG" style="vertical-align: bottom;"/>
			<span>我的点评</span>
		</div>
		<ul class="evaBtn">
			<li class="uneva">待点评</li>
			<li class="evaed">已点评</li>
		</ul>
		<table id="evaTable" style="border-top: 1px solid #979797;width:997px;margin-top:20px;">
			<tr>
				<td class="tHtlNm thead1">酒店名称</td>
				<td class="tChIn thead1">入住/退房日期</td>
				<td class="totalPrice thead1">总房价</td>
				<td class="status thead1">状态</td>
				<td class="operator thead1">操作</td>
			</tr>
			<tr>
				<td colspan="4" style="font-size:18px;color: #535353;text-align: center;height: 60px;line-height: 60px;">你目前没有任何带点平的酒店</td>
			</tr>
		</table>
		<script src="javascripts/foreJs/evaluate.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
