<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的钱包</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/foreSystem/wallet.css"/>
	</head>
	<body>
		<div class="headBox">
			<ul class="accountInfo">
				<li class="myAccount"><img src="images/foreImg/mony.png" style="width:27px;height:27px;vertical-align: middle;"/>&nbsp;&nbsp;&nbsp;<span class="walletText"><strong>钱包余额</strong></span>
					<img src="images/foreImg/moneyCountTip.png" style="width:14px;height:14px;vertical-align: middle;"/>
					<span style="font-size: 20px;color:#c0191f;margin-left:20px;">￥</span>
					<span style="font-size: 34px;color:#c0191f;">0<span>
				</li>
				<li class="alterBox">
					<!--我要去充值-->
					<div class="recharge">
						我要去充值
					</div>
					<div class="alterPayPwd">
						支付密码修改
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
